/* Estilos Gerais */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f5f5f5;
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #efa2ac;
    color: white;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Seção de Perguntas */
.perguntas {
    padding: 40px 20px;
}

/* Galeria de Produtos */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.produto img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.valor-total img{
        width: 150px;
        height: 150px;
        border-radius: 10px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Seção de Checkout */
.checkout {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

/* Estilo do valor total */
.valor-total {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Estilização do formulário */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 15px;
    background-color: #efa2ac;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #d98993;
}
